//@import 'node_modules/jeet/stylus/jeet/index'

*
    box-sizing border-box
    margin 0

section
    max-width 1200px
    width 100%
    margin 0 auto
    padding 2rem 1.2rem

mat-toolbar
    display flex
    justify-content space-between

.btn
    background transparent
    max-width 40px
    width 100%
    border 0

    img
        display inline-block
        width 100%
        margin-right 10px
    
    span
        display inline-block
        font-size 1rem

nav
    a
        display inline-block
        margin  0 10px
        color white
        font-size  .9rem
        font-weight normal
        text-decoration none


        &:hover
            text-decoration underline
            transition all .6s ease